.date {
  width: 90px;
  background-color: white;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}

.month {
  background-color: #d62828;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 20px;
}

.day {
  height: 60px;
  line-height: 60px;
  font-size: 50px;
}
