.confirmModal {
  width: 400px;
  height: 200px;
  background-color: #fff;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  padding: 10px;
}

.confirmTips {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirmTips p {
  font-size: 20px;
}

.confirmBtns {
  flex: auto;
  display: flex;
  justify-content: flex-end;
}

.confirmBtns button {
  margin: 0 10px;
  border: 0;
  width: 100px;
  background-color: bisque;
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
  transition: 1s;
}

.confirmBtns .confirmBtn {
  background-color: #d62828;
  color: #fff;
}

.confirmBtns button:hover {
  background-color: #194b49;
}

.confirmBtns .cancelBtn:hover {
  color: #fff;
}
